<p id="notice"><%= notice %></p>

<h1><%= @type.name %></h1>

<p>
  <%= @type.description %>
</p>

<% if @type.id != @type.master_type_id %>
  <p>
    Tipologia padre: <strong><%= @type.master_type.name %></strong>
  </p>
<% end %>

<%= link_to 'Edit', edit_type_path(@type) %>
