<%# cache [Operation.maximum(:updated_at), "home-page"] do %>
  <div class="page-header">
    <h1>Grafici generali</h1>
  </div>
  <form class="well">
    <%= render partial: "filters/year" %>
    <%= render partial: "filters/month" %>
    <%= render partial: "filters/type" %>
    <input type="submit" value="Filtra" class="btn btn-primary" />
  </form>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Entrate/Uscite per Anno</h3>
    </div>
    <div class="panel-body">
      <%= column_chart @operations_per_sign.sum(:amount) %>
      <strong>Saldo Totale Ad Oggi (sono esclusi introiti e spese future): <%= number_to_currency(@saldo_totale) %></strong>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Spesa media giornaliera per tipologia</h3>
    </div>
    <div class="panel-body">
      <%= column_chart @type_operations.map { |o| [o.types_name, (o.sum_amount/((Time.parse(o.max) - Time.parse(o.min))/86400)).round(2)] }, label: currency_unit %>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Spesa media mensile per tipologia</h3>
    </div>
    <div class="panel-body">
      <%= line_chart @monthly_operations.sum(:amount) %>
    </div>
  </div>
<%# end %>
