<%= form_for(operation) do |f| %>
  <% if operation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(operation.errors.count, "error") %> prohibited this operation from being saved:</h2>

      <ul>
      <% operation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_field :date %>
  </div>

  <div class="field">
    <%= f.label :type_id %>
    <%= f.select :type_id, options_from_collection_for_select(Type.all, :id, :name), { prompt: "Seleziona" } %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.select :user_id, options_from_collection_for_select(User.all, :id, :name), { prompt: "Seleziona" } %>
  </div>

  <div class="field">
    <%= f.label :sign %>
    <%= f.select :sign, [["Entrata", "+"],["Uscita", "-"]], { prompt: "Seleziona" } %>
  </div>

  <div class="field">
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </div>

  <div class="field">
    <%= f.label :note %>
    <%= f.text_area :note %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
