<%= form_for operation, html: { class: "form-horizontal" } do |f| %>
  <%= render partial: 'layouts/components/error_messages', locals: { target: operation } %>
  <div class="form-group" id="repeater-field">
    <%= f.label :date, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <div class="input-group col-sm-6">
        <label for="operation_date" class="input-group-addon label-icon">
          <i class="glyphicon glyphicon-calendar"></i>
        </label>
        <%= f.date_field :date, class: "datepicker form-control repeater", required: true, size: 10, maxlength: 10, placeholder: "aaaa-mm-gg", autocomplete: "off", value: saved_or_default(f.object.date, Date.today.to_s) %>
      </div>
    </div>
  </div>
  <% if ["new", "create"].index(params[:action]) %>
    <div class="form-group">
      <%= f.label :repeat, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <div class="checkbox">
          <label>
            <%= f.check_box :repeat, class: "repeater" %>
          </label>
        </div>
        <p class="help-block">
          Se l'operazione si ripete periodicamente spunta il check e indica il tipo di ripetizione.
        </p>
        <div class="toggle-repeat">
          <div class="input-group">
            <span class="input-group-addon">
              Ogni
            </span>
            <span class="input-group-btn">
              <%= f.number_field :interval_repeat, size: 4, step: 1, min: 1, class: "interval_repeat input-number form-control repeater repeater-required ", placeholder: "0", data: { label: "Intervallo di ripetizione" }, style: "width: 100px;" %>
            </span>
            <%= f.collection_select :type_repeat, f.object.types_repeat, :id, :name, { prompt: t(:select) }, { class: "type_repeat form-control repeater repeater-required ", data: { label: "Tipo di ripetizione" } } %>
          </div>
        </div>
        <br class="clearfix" />
        <div class="toggle-month-repeat">
          <div class="input-group">
            <span class="input-group-addon">
              Il
            </span>
            <span class="operation_span_week_repeat toggle-week-repeat input-group-btn">
              <%= f.collection_select :week_repeat, f.object.weeks_repeat, :id, :name, { prompt: t(:select) }, { class: "week_repeat medium-select form-control repeater", data: { label: "Settimana del mese" }, style: "width: 100px;" } %>
            </span>
            <%= f.collection_select :wday_repeat, f.object.wdays_repeat, :id, :name, { prompt: t(:select) }, { class: "wday_repeat form-control repeater", data: { label: "Giorno della settimana" } } %>
            <span class="operation_span_week_repeat toggle-week-repeat input-group-addon">
              del mese
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group toggle-repeat">
      <%= f.label :last_date_repeat, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <div class="input-group col-sm-6">
          <label for="operation_last_date_repeat" class="input-group-addon label-icon">
            <i class="glyphicon glyphicon-calendar"></i>
          </label>
          <%= f.date_field :last_date_repeat, size: 10, maxlength: 10, class: "datepicker form-control last_date_repeat repeater-required repeater", placeholder: "aaaa-mm-gg", autocomplete: "off" %>
        </div>
        <p class="help-block">
          Ultima data entro cui può iniziare l'ultima ripetizione dell'operazione.
        </p>
      </div>
    </div>
    <div class="form-group toggle-repeat">
      <label class="col-sm-3">Anteprima delle date indicate</label>
      <div id="repeater-preview" class="col-sm-10">
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :type_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select :type_id, Type.order("name ASC").all, :id, :name, { prompt: "Seleziona", selected: saved_or_params(f.object, :type_id) }, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :user_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select :user_id, User.order("name ASC").all, :id, :name, { prompt: "Seleziona", selected: saved_or_default(f.object.user_id, current_user.id) }, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :sign, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :sign, [["Entrata", "+"],["Uscita", "-"]], { prompt: "Seleziona", selected: saved_or_params(f.object, :sign) }, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :amount, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :amount, class: "form-control", step: "0.01", min: 0 %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :note, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :note, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-default" %>
    </div>
  </div>
<% end %>
