<% if operations.where(sign: sign).maximum(:updated_at) %>
  <% type = operations.where(sign: sign).first.type %>
  <% cache [id_and_maximum_updated_at(operations.where(sign: sign)), type.id, type.updated_at, "year_table", sign, params[:year]] do %>
  <tr>
    <td>
      <%= operations.where(sign: sign).first.type.name %>
      <%= link_to new_operation_path(type_id: operations.where(sign: sign).first.type_id, sign: sign), title: "Aggiungi operazione di tipo #{operations.where(sign: sign).first.type.name}", class: "btn btn-default pull-right" do %>
        <span class="glyphicon glyphicon-plus"></span>
      <% end %>
    </td>
    <% (1..12).each do |month| %>
      <% cache [id_and_maximum_updated_at(operations.where(sign: sign, month: month)), type.id, type.updated_at, sign, "year_td", month, params[:year]] do %>
        <td>
        <% if operations.where(sign: sign, month: month).length == 0 %>
          <%= number_to_currency(0) %>
        <% else %>
          <%= number_to_currency(operations.where(sign: sign, month: month).sum(:amount)) %>
        <% end %>
        <% if month > 1 && operations.where(sign: sign, month: month-1).sum(:amount) != 0 %>
          <div title="Variazione rispetto al mese precedente">
            (<%= previous_month_diff operations, sign, month %>)
          </div>
        <% end %>
        </td>
      <% end %>
    <% end %>
    <td>
      <%= number_to_currency(operations.where(sign: sign).sum(:amount)) %>
    </td>
  </tr>
  <% end %>
<% end %>
