<% cache [operations.where(sign: sign).maximum(:updated_at), "year_table", sign, params[:year]] do %>
  <% if operations.where(sign: sign).length > 0 %>
  <tr>
    <td>
      <%= operations.where(sign: sign).first.type.name %>
    </td>
    <% (1..12).each do |month| %>
      <% cache [operations.where(sign: sign, month: month).maximum(:updated_at), "year_td", month, params[:year]] do %>
        <td>
        <% if operations.where(sign: sign, month: month).length == 0 %>
          <%= number_to_currency(0) %>
        <% else %>
          <%= number_to_currency(operations.where(sign: sign, month: month).sum(:amount)[month]) %>
        <% end %>
        <% if month > 1 && operations.where(sign: sign, month: month-1).sum(:amount)[month-1] %>
          <div title="Variazione rispetto al mese precedente">
            (<%= previous_month_diff operations, sign, month %>)
          </div>
        <% end %>
        </td>
      <% end %>
    <% end %>
    <td>
      <%= number_to_currency(operations.where(sign: sign).sum(:amount).sum { |k,v| v }) %>
    </td>
  </tr>
  <% end %>
<% end %>
