<h1>Movimenti del mese - <%= params[:month] %>/<%= params[:year] %></h1>

<table class="table">
  <thead>
    <tr>
      <th>Day</th>
      <th>Type</th>
      <th>User</th>
      <th>Amount</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th colspan="7">Uscite</th>
    </tr>
    <%= render :partial => 'month_table', :collection => @negative_operations, :as => :operation %>
    <tr>
      <th colspan="3">Totale Uscite</th>
      <th><%= @negative_operations.sum('amount') %></th>
      <th colspan="3"></th>
    </tr>
    <tr>
      <th colspan="7">Entrate</th>
    </tr>
    <%= render :partial => 'month_table', :collection => @positive_operations, :as => :operation %>
    <tr>
      <th colspan="3">Totale Entrate</th>
      <th><%= @positive_operations.sum('amount') %></th>
      <th colspan="3"></th>
    </tr>
    <tr>
      <th colspan="3">Saldo</th>
      <th>
        <%= @positive_operations.sum('amount') - @negative_operations.sum('amount') %>
      </th>
      <th colspan="3"></th>
    </tr>
  </tbody>
</table>
<% User.all.each do |user| %>
  <%= render partial: "tot_month_operation", locals: { user: user, operations_per_type: @users_operations_per_type } %>
<% end %>

<%= link_to 'New Operation', new_operation_path %>
