<nav>
  <ul class="pagination">
    <li role="presentation">
      <%= link_to calendar_year_operations_path(year: params[:year].to_i-1) do%>
        &laquo; <%= params[:year].to_i-1 %>
      <% end %>
    </li>
    <li role="presentation">
      <%= link_to calendar_year_operations_path(year: params[:year].to_i+1) do%>
        <%= params[:year].to_i+1 %> &raquo;
      <% end %>
    </li>
  </ul>
</nav>
<% cache [id_and_maximum_updated_at(@types), id_and_maximum_updated_at(@operations_cumulus), "calendar_year"] do %>
  <table class="table table-striped table-bordered table-condensed table-hover">
    <thead>
      <tr>
        <th>Spese del <%= params[:year] %></th>
        <% (1..12).each do |month| %>
          <th><%= link_to month, calendar_month_operations_path(year: params[:year], month: month) %></th>
        <% end %>
        <th>Totale</th>
      </tr>
    </thead>
    <tbody>
      <% @types.each do |type| %>
        <%= render :partial => 'year_table', locals: { operations: @operations_per_type.where(type_id: type.id), sign: '-' } %>
      <% end %>
      <%= render :partial => 'total_year_table', locals: { sign: '-', total: "Spese" } %>
      <tr>
        <th>Introiti <%= params[:year] %></th>
        <% (1..12).each do |month| %>
          <th><%= link_to month, calendar_month_operations_path(year: params[:year], month: month) %></th>
        <% end %>
        <th>Totale</th>
      </tr>
      <% @types.each do |type| %>
        <%= render :partial => 'year_table', locals: { operations: @operations_per_type.where(type_id: type.id), sign: '+' } %>
      <% end %>
      <%= render :partial => 'total_year_table', locals: { sign: '+', total: "Introiti" } %>
      <tr>
        <th>Saldo</th>
        <% @operations_per_month.each_with_index do |operation_per_month, i| %>
          <% cache [id_and_maximum_updated_at(@types), id_and_maximum_updated_at(operation_per_month), "saldo", params[:year], i] do %>
            <th>
              <%= balance operation_per_month %>
            </th>
          <% end %>
        <% end %>
        <th>
          <% cache [@operations_per_month.max {|o| o.maximum(:updated_at) ? o.maximum(:updated_at) : 0}, "saldo-totale", params[:year]] do %>
            <%= tot_balance @operations_per_month %>
          <% end %>
        </th>
      </tr>
      <tr>
        <% cache [id_and_maximum_updated_at(@operations_cumulus), "saldo-cumulativo-totale"] do %>
          <th>Saldo Cumulativo</th>
            <% (1..12).each do |i| %>
              <th>
                <% cache [id_and_maximum_updated_at(@operations_cumulus.where(month: (1..i))), "cumulative-balance", params[:year], i] do %>
                  <%= cumulative_balance(@operations_cumulus, i) %>
                <% end %>
              </th>
            <% end %>
          <th rowspan="2" title="Differenza tra saldo anno corrente e anno precedente">
            <% cache [id_and_maximum_updated_at(@operations_cumulus), id_and_maximum_updated_at(@operations_cumulus_prev), "diff-cumulus", params[:year]] do %>
              <%= number_to_currency(diff_cumulus(@operations_cumulus, @operations_cumulus_prev)) %>
            <% end %>
          </th>
        <% end %>
      </tr>
      <tr>
        <th>Saldo Trimestrale</th>
        <% (0..3).each do |i| %>
          <% cache [id_and_maximum_updated_at(@operations_cumulus.where(month: ((i*3)+1..(i+1)*3))), "saldo-trimestrale", params[:year], i] do %>
            <th colspan="3" style="text-align:center;border-right:1px solid #ccc;">
              <%= quarterly_balance(@operations_cumulus, i) %>
              <% if difference_in_balance(@operations_cumulus_prev, i) != 0 %>
                <span title="Variazione rispetto allo stesso trimestre dell'anno precedente">
                  (<%= quarterly_balance_diff @operations_cumulus_prev, @operations_cumulus, i %>)
                </span>
              <% end %>
            </th>
          <% end %>
        <% end %>
      </tr>
    </tbody>
  </table>
  <% User.all.each do |user| %>
    <%= render partial: "pie_chart_per_user", locals: { user: user, operations_per_type: @tot_operations_per_type, interval: params[:year] } %>
  <% end %>
  <%= render partial: "pie_chart_total", locals: { operations_per_type: @tot_operations_per_type, interval: params[:year] } %>
<% end %>
