<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @operation.date %>
</p>

<p>
  <strong>Type:</strong>
  <%= @operation.type.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @operation.user.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @operation.sign %> <%= @operation.amount %>
</p>

<p>
  <strong>Note:</strong>
  <%= @operation.note %>
</p>

<%= link_to 'Edit', edit_operation_path(@operation) %> |
<%= link_to 'Back', operations_path %>
