<p id="notice"><%= notice %></li>

<h1>Operazione numero <%= @operation.id %></h1>

<ul>
  <li>
    <strong>Data dell'operazione:</strong>
    <%= @operation.date %>
  </li>

  <li>
    <strong>Type:</strong>
    <%= @operation.type.name %>
  </li>

  <li>
    <strong>User:</strong>
    <%= @operation.user.name %>
  </li>

  <li>
    <strong>Amount:</strong>
    <%= @operation.sign %> <%= @operation.amount %>
  </li>
</ul>

<p>
  <%= @operation.note %>
</p>

<%= link_to 'Edit', edit_operation_path(@operation) %>
